*{
	margin: 0;
}

@media screen and (min-width: 1214px) {

#wrap{
	position: absolute;
	background-image: url(../img/bg-img.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 200vh;
	z-index: -2;
	top: 0px;
	left: 0px;
}

body {
	position: relative;
	font-family: 'Noto Sans JP' !important;
	animation: fadeIn 2s ease 0s 1 normal;
	-webkit-animation: fadeIn 2s ease 0s 1 normal;
	height: 190vw;
	overflow-y: scroll;
	-ms-overflow-style: none;    /* IE, Edge 対応 */
	scrollbar-width: none;       /* Firefox 対応 */
}

body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
	display:none;
}

@keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}

.logo{
	position: fixed;
	top: 3rem;
	left: 3rem;
	width: 150px;
	z-index: 9997;
}

.cc-m{
	position: relative;
	height: 100vh;
	margin-bottom: -100vh;
}

.main .cc{
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	z-index: 9997;
	font-weight: 900;
	color: #fff;
	letter-spacing: 0.5rem;
	line-height: 10vw;
	font-size: 5vw;
}

.marker-animation{
	padding-top: 3vw;
	padding-left: 1rem;
}

.side{
	width: 40vw;
	height: 300vh;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	z-index: -1;
	font-family: 'Noto Sans JP' !important;
}

.title{
	display: block;
	color: #272727;
	margin: 45% 3rem 0 0;
	float: right;
	text-align: right;
	font-size: 2rem;
	font-weight: 900;
	width: 80%;
	letter-spacing: 0.5rem;
}

.cont{
	display: block;
	color: #31a05f;
	margin: 4rem 3rem 0 0;
	float: right;
	text-align: right;
	font-size: 1rem;
	font-weight: 400;
	width: 80%;
	letter-spacing: 0.3rem;
	line-height: 2;
}

.more-button{
	position: absolute;
	background: #31a05f;
	width: 3rem;
	height: 3rem;
	z-index: 9899;
	transition-duration: 0.3s;
}

.more-button span{
	position: absolute;
	color: #fff;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.more-button:hover span:nth-child(1){
	display: none;
	transition: .3s;
}

.more-button:hover span:nth-child(2){
	display: block;
	transition: .3s;
}

.more-button span:nth-child(2){
	display: none;
	transition: .3s;
}


.more-button:hover{
	width: 6rem;
	transform: scale(1.5);
	transition-duration: 0.3s;
}


/*-----------------------------------------*/

.more-button-l{
	position: absolute;
	right: 0;
}

.a-all-l{
	position: relative;
	width: 30vw;
	height: auto;
	padding-top: 64%;
	margin-left: 5%;
}

.a01{
	display: block;
	z-index: 9998;
	width: 30vw;
}

.a-cont-l{
	position: absolute;
	width: 60vw;
	left: 10vw;
	bottom: 50vw;
	background: #31a05f;
	z-index: 9995;
}

.a-cont-title-l{
	display: block;
	position: relative;
	padding: 3vw 0 0 3vw;
	font-size: 2vw;
	font-weight: 900;
	color: #fff;
	letter-spacing: 0.1rem;
}

.a-cont-more-l{
	display: block;
	position: relative;
	padding: 1vw 0 3.5vw 3vw;
	width: 80%;
	color: #fff;
	letter-spacing: 0.1rem;
	line-height: 2;
}

/*-----------------------------------------*/

.more-button-r{
	position: absolute;
	left: 146%;
}

.a-all-r{
	position: relative;
	width: 30vw;
	height: auto;
	padding-top: 20%;
	margin-left: 50%;
}

.a02{
	display: block;
	z-index: 9998;
	width: 30vw;
	margin-left: 146%;
}

.a-cont-r{
	position: absolute;
	width: 60vw;
	left: 4vw;
	bottom: -10vw;
	background: #31a05f;
	z-index: 9995;
}

.a-cont-title-r{
	display: block;
	position: relative;
	padding: 3vw 0 0 3vw;
	font-size: 2vw;
	font-weight: 900;
	color: #fff;
	letter-spacing: 0.1rem;
}

.a-cont-more-r{
	display: block;
	position: relative;
	padding: 1vw 0 3.5vw 3vw;
	width: 80%;
	color: #fff;
	letter-spacing: 0.1rem;
	line-height: 2;
}

/*--------------------footer---------------------*/

#footer{
	position: absolute;
	width: 100%;
	height: 30vh;
	bottom: 0px;
	background: #272727;
	text-align: center;
}

.fab{
	font-size: 2.5rem;
	margin: 3rem 1rem 1rem 1rem;
	color: #fff;
	transition: .3s;
}

.fab:hover{
	color: #31a05f;
	transition: .3s;
}

.footer-cont{
	display: inline-block;
	color: #fff;
	margin: 2rem 2rem 0 2rem;
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: 0.2rem;
}

.footer-copyright{
	display: block;
	background: #272727;
	padding: 3vw 0 0 0;
	position: relative;
	color: #31a05f;
	font-size: 0.5rem;
	margin: auto;
}

}











/*-------------------------------Mobile---------------------------------*/













@media screen and (max-width: 450px) {

	.page-loading{
		position: relative;
		height: 750vw;
		overflow-y: hidden;
	}

	#wrap{
		position: absolute;
		background-image: url(../img/bg-img.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100vh;
		z-index: -2;
		top: 0px;
		left: 0px;
	}
	
	body {
		position: relative;
		font-family: 'Noto Sans JP' !important;
		animation: fadeIn 2s ease 0s 1 normal;
		-webkit-animation: fadeIn 2s ease 0s 1 normal;
		overflow-y: scroll;
		-ms-overflow-style: none;    /* IE, Edge 対応 */
		scrollbar-width: none;       /* Firefox 対応 */
	}
	
	body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
		display:none;
	}
	
	@keyframes fadeIn {
		0% {opacity: 0}
		100% {opacity: 1}
	}
	
	@-webkit-keyframes fadeIn {
		0% {opacity: 0}
		100% {opacity: 1}
	}
	
	.logo{
		position: fixed;
		top: 2rem;
		left: 2rem;
		width: 100px;
		z-index: 9997;
	}
	
	.cc-m{
		position: relative;
		height: 100vh;
		margin-bottom: -100vh;
	}
	
	.main .cc{
		position: relative;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 9997;
		font-weight: 900;
		color: #fff;
		letter-spacing: 0.5rem;
		line-height: 3rem;
		font-size: 2rem;
	}
	
	.marker-animation{
		padding-top: 1rem;
		padding-left: 0.8rem;
	}
	
	.side{
		width: 100vw;
		position: absolute;
		top: 100vh;
		background: #fff;
		z-index: 9995;
		font-family: 'Noto Sans JP' !important;
	}
	
	.title{
		display: block;
		position: relative;
		margin: auto;
		color: #272727;
		text-align: left;
		margin-top: 3rem;
		font-size: 1.8rem;
		font-weight: 900;
		width: 80%;
		letter-spacing: 0.5rem;
	}
	
	.cont{
		display: block;
		position: relative;
		margin: auto;
		color: #31a05f;
		margin-top: 2rem;
		margin-bottom: 3rem;
		text-align: left;
		font-size: 1rem;
		font-weight: 400;
		width: 80%;
		letter-spacing: 0.3rem;
		line-height: 2;
	}

/*-----------------button------------------*/
	
	.more-button{
		position: absolute;
		background: #31a05f;
		width: 3rem;
		height: 3rem;
		z-index: 9899;
		transition-duration: 0.3s;
	}
	
	.more-button span{
		position: absolute;
		color: #fff;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: .3s;
	}
	
	.more-button:hover span:nth-child(1){
		display: none;
		transition: .3s;
	}
	
	.more-button:hover span:nth-child(2){
		display: block;
		transition: .3s;
	}
	
	.more-button span:nth-child(2){
		display: none;
		transition: .3s;
	}
	
	
	.more-button:hover{
		width: 6rem;
		transform: scale(1.5);
		transition-duration: 0.3s;
	}
	
	
	/*-----------------------------------------*/
	
	.more-button-l{
		position: absolute;
		right: 20vw;
		z-index: 9995;
	}
	
	.a-all-l{
		position: relative;
		width: 100vw;
		height: auto;
		margin-top: 400vw;
	}
	
	.a01{
		display: block;
		position: relative;
		margin: 0 0 10rem 0;
		width: 80vw;
	}
	
	.a-cont-l{
		display: block;
		position: relative;
		width: 80vw;
		margin: auto;
		padding: 1.2rem;
		background: #31a05f;
		z-index: 9995;
	}
	
	.a-cont-title-l{
		display: block;
		position: relative;
		font-size: 1rem;
		font-weight: 900;
		color: #fff;
		letter-spacing: 0.1rem;
		margin-bottom: 0.5rem;
	}
	
	.a-cont-more-l{
		display: block;
		position: relative;
		font-size: 0.8rem;
		width: 100%;
		color: #fff;
		letter-spacing: 0.1rem;
		line-height: 2;
	}
	
	/*-----------------------------------------*/
	
	.more-button-r{
		position: absolute;
		left: 20vw;
		z-index: 9995;
	}
	
	.a-all-r{
		position: relative;
		width: 100vw;
		height: auto;
		margin-top: -60vw;
	}
	
	.a02{
		display: block;
		position: relative;
		left: 20vw;
		margin: 0 0 16rem 0;
		width: 80vw;
	}
	
	.a-cont-r{
		display: block;
		position: relative;
		width: 80vw;
		top: 10vw;
		margin: auto;
		padding: 1.2rem;
		background: #31a05f;
		z-index: 9995;
	}
	
	.a-cont-title-r{
		display: block;
		position: relative;
		font-size: 1rem;
		font-weight: 900;
		color: #fff;
		letter-spacing: 0.1rem;
		margin-bottom: 0.5rem;
	}
	
	.a-cont-more-r{
		display: block;
		position: relative;
		font-size: 0.8rem;
		width: 100%;
		color: #fff;
		letter-spacing: 0.1rem;
		line-height: 2;
	}
	
	/*--------------------footer---------------------*/
	
	#footer{
		display: block;
		position: absolute;
		width: 100%;
		height: 50vw;
		bottom: 0px;
		background: #272727;
		text-align: center;
	}
	
	.fab{
		font-size: 2rem;
		margin: 3rem 1rem 1rem 1rem;
		color: #fff;
		transition: .3s;
	}
	
	.fab:hover{
		color: #31a05f;
		transition: .3s;
	}
	
	.footer-cont{
		display: inline-block;
		color: #fff;
		margin: 1rem;
		font-weight: 300;
		font-size: 0.8rem;
		letter-spacing: 0.2rem;
	}
	
	.footer-copyright{
		display: block;
		background: #272727;
		padding: 3vw 0 0 0;
		position: relative;
		color: #31a05f;
		font-size: 0.5rem;
		margin: auto;
	}

}

/*--------------------pace.js--------------------*/

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }
  
  .pace-inactive {
	display: none;
  }
  
  .pace .pace-progress {
	background: #31a05f;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 5px;
  }
  
  .pace .pace-progress-inner {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #31a05f, 0 0 5px #31a05f;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-moz-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	-o-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
  }

  .pace-running .page-loading{
	display: none;
}

/*--------------------menu--------------------*/  
  
  #nav-drawer {
	position: relative;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
	display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
	display: inline-block;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 30px;
	height: 22px;
	vertical-align: middle;
	z-index: 9999;
  }
  
  .wrapper-menu {
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 330ms ease-out;
	z-index: 9999;
  }
  
  .wrapper-menu.open {
	transform: rotate(-45deg);  
  }
  
  .line-menu {
	background-color: #31a05f;
	border-radius: 5px;
	width: 100%;
	height: 3px;
  }
  
  .line-menu.half {
	width: 50%;
  }
  
  .line-menu.start {
	transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	transform-origin: right;
  }
  
  .open .line-menu.start {
	transform: rotate(-90deg) translateX(3px);
  }
  
  .line-menu.end {
	align-self: flex-end;
	transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	transform-origin: left;
  }
  
  .open .line-menu.end {
	transform: rotate(-90deg) translateX(-3px);
  }
  
  /*中身*/
  #nav-content {
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;/*最前面に*/
	width: 100%;/*右側に隙間を作る（閉じるカバーを表示）*/
	height: 100%;
	background: #fff;/*背景色*/
	transition: .3s ease-in-out;/*滑らかに表示*/
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%);/*左に隠しておく*/
  }
  
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
	display: block;/*カバーを表示*/
	opacity: .5;
	transition: .5s;
  }
  
  #nav-input:checked ~ #nav-content {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);/*中身を表示（右へスライド）*/
	transition: .5s;
  }

  .menu-m{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  .menu-cont{
	  font-size: 2rem;
	  line-height: 3;
	  letter-spacing: 0.1rem;
	  color: #272727;
	  transition: .5s;
  }

  .menu-cont:hover{
	  color: #31a05f;
	  transition: .5s;
  }